.wrapper {
  padding: 20px 40px 0px 40px;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .wrapper {
    width: 960px;
  }
}
@media (max-width: 991px) {
  .wrapper {
    width: 720px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    width: 540px;
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .wrapper {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .wrapper {
    min-width: 300px;
  }
}
